/* 태그선택자 - 태그이름을 적으면 됨*/
p{
    color: blue;
}
/* ID 선택자 -#아이디명 적으면 됨 */
#tea {
    color: rgb(132, 180, 58);
}
/* 클래스 선택자 - .클래스명 적으면 됨 */
.house{
    color: rgb(30, 139, 143);
}
/* 자손 선택 - 띄어쓰기로 표현 */
ul li{
    background-color: rgb(175, 107, 214);
    color: white;
}
/* 전체선택자 - * 을 쓰면 됨 */
* {
    font-family: 돋움;
}
/* 자식 선택 - 자손에서 띄어쓰기 대신 > 를 사용 */
ul>li>p{
    font-weight: bold;
    color: rgb(84, 62, 163);
}
h1+p{
    font-family: 굴림;
    color: yellow;
    background-color: black;
}
h1+p+p{
    font-family: 궁서;
    color: paleturquoise;
    background-color: black;
}
p[class]{
    background-color: black;
    color: white;
}
h1,h2,h3{
    border-bottom: 1px solid #000;
}